<div class="food-title">
  <h1>My list of Recipes</h1>
</div>
<div class="card mt-3">
  <div class="card-body recipe-body">
    <div>
      <h1>Recipe1</h1>
      <%= link_to 'Delete', method: :delete %>
    </div>
    <div>
       <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Fusce risus mi, luctus id ligula nec, malesuada rhoncus tortor.
          Ut egestas mollis erat.
       </p>
    </div>
  </div>
</div>
