<section class="public-recipe">
  <h1 class="recipe-title"><%= @recipe.name%> Recipe</h1>
  <div class="recipe-card">
    <h5>Preparation time: <%=@recipe.preparation_time%> hour</h5>
    <h5>Cooking time: <%=@recipe.cooking_time%> hour</h5>
    <h5>Step go here ...</h5>
  </div>
  <div class="recipe-btn">
    <button>
      <%= link_to "back", recipes_path %>
    </button>
  </div>
</section>