:root {
  --size-border: 2px solid #272727;
  --prmary-color: #f4f4f4;
  --bacground-color: #eee;
  --text-color: #272727;
}

body {
  padding: 0 3%;
  height: 90vh;
  background-color: var(--bacground-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.d-flex {
  display: flex;
}

a:link {
  text-decoration: none;
  color: black;
}

button {
  font-weight: 700;
  border: var(--size-border);
  border-radius: 4px;
  padding: 0.3rem 1rem;
}

.button {
  text-align: right;
  padding-bottom: 2%;
  padding-right: 2%;
}

.food-title {
  text-align: center;
}

section.container {
  max-width: 992px;
  margin: 0 auto 2rem;
  padding: 1rem;
  background-color: var(--bacground-color);
}

.navbar {
  max-width: 992px;
  margin: 0 auto;
  padding: 1rem;
}

/* .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
} */

.card {
  width: 100%;
}

.food-form {
  padding: 10px;
}

.recipe-body {
  display: flex;
  column-gap: 30px;
  align-items: baseline;
}

/* PUBLIC RECIPE */

h1 {
  width: 100%;
  text-align: center;
  margin: 0.3rem 0 0.6rem;
}

.public-recipes-section .recipe-public-card,
.recipe-card {
  margin: 0 auto 1rem;
  padding: 1rem;
  border: var(--size-border);
}

.recipe-card .recipe-title {
  width: 30%;
  text-align: center;
  margin-right: 1rem;
}

.recipe-title span {
  font-weight: 700;
}

.recipe-card p {
  width: 70%;
}

.recipe-public-card .recipe-public-header {
  width: 35%;
  margin-right: 1rem;
}

.recipe-btn {
  width: 100%;
  justify-content: center;
}

.add-recipe-btn button {
  font-weight: 700;
  border: var(--size-border);
  border-radius: 4px;
  padding: 0.4rem 1rem;
}

/* form {
  max-width: 640px;
  margin: 1.5rem auto;
  padding: 1rem;
  background-color: #ccc;
  border-radius: 4px;
} */

/* RECIPE_DETAILS */

.recipe-details h2 {
  width: 100%;
  text-align: center;
}

.detail-btns {
  justify-content: space-between;
}

.recipe-details .main-detail,
.recipe-details .detail-btns {
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}

.shopping-counter {
  justify-content: space-around;
  margin: 3rem auto;
}

.recipe-detail {
  background-color: var(--bacground-color);
  padding: 1rem;
}

div.line-detail {
  width: 90%;
  margin: 3rem auto;
  height: 2px;
  background-color: var(--text-color);
}

/* table {
  background-color: #fff;
} */
