:root {
  --size-border: 2px solid #272727;
  --prmary-color: #f4f4f4;
  --bacground-color: #eee;
  --text-color: #272727;
}

body {
  height: 90vh;
  background-color: #acebff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.d-flex {
  display: flex;
}

a:link {
  text-decoration: none;
  color: black;
}

.word {
  color: #272727;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button,
.signupbtn {
  font-weight: 700;
  border: var(--size-border);
  border-radius: 4px;
  padding: 0.3rem 1rem;
}

.notice,
.alert {
  border-radius: 5px;
  color: black;
  text-align: center;
}

.notice {
  border: 2px solid rgb(0 128 0 / 0%);
  background: #d8ffe3;
}

.alert {
  border: 2px solid #f000;
  background: #f2b5af;
}

.button {
  text-align: right;
  padding-bottom: 2%;
  padding-right: 2%;
}

.food-title {
  text-align: center;
}

section.container {
  max-width: 992px;
  padding: 1rem;
}

.signup,
.links {
  text-align: center;
}

.navbar {
  max-width: 992px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #98bdff;
}

.card {
  width: 100%;
}

.food-form {
  padding: 10px;
}

.recipe-body {
  display: flex;
  column-gap: 30px;
  align-items: baseline;
}

/* PUBLIC RECIPE */

h1 {
  width: 100%;
  text-align: center;
  margin: 0.3rem 0 0.6rem;
}

.recipe-public-card {
  background-color: white;
}

.public-recipes-section .recipe-public-card,
.recipe-card {
  margin: 0 auto 1rem;
  padding: 1rem;
  border: var(--size-border);
}

.recipe-card .recipe-title {
  width: 30%;
  text-align: center;
  margin-right: 1rem;
}

.recipe-title span {
  font-weight: 700;
}

.recipe-card p {
  width: 70%;
}

.recipe-public-card .recipe-public-header {
  width: 35%;
  margin-right: 1rem;
}

.recipe-btn {
  width: 100%;
  justify-content: center;
}

.add-recipe-btn button {
  font-weight: 700;
  border: var(--size-border);
  border-radius: 4px;
  padding: 0.4rem 1rem;
}

table {
  background-color: #d8ffe3;
}

.form {
  max-width: 640px;
  margin: 1.5rem auto;
  padding: 1rem;
  background-color: #bccbff;
  border-radius: 4px;
}

/* RECIPE_DETAILS */

.recipe-details h2 {
  width: 100%;
  text-align: center;
}

.detail-btns {
  justify-content: space-between;
}

.recipe-details .main-detail,
.recipe-details .detail-btns {
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}

.shopping-counter {
  justify-content: space-around;
  margin: 3rem auto;
}

.recipe-detail {
  background-color: var(--bacground-color);
  padding: 1rem;
}

div.line-detail {
  width: 90%;
  margin: 3rem auto;
  height: 2px;
  background-color: var(--text-color);
}
