/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 :root {
  --size-border: 2px solid #272727;
  --prmary-color: #f4f4f4;
  --bacground-color: #eee;

  --text-color: #272727;
}

body {
  padding: 0 3%;
  background-color: var(--bacground-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.d-flex {
  display: flex;
}

a:link {
  text-decoration: none;
}

button {
  font-weight: 700;
  border: var(--size-border);
  border-radius: 4px;
  padding: 0.3rem 1rem;
}

.button {
  text-align: right;
  padding-bottom: 2%;
  padding-right: 2%;
}

.food-title {
  text-align: center;
}

.add-food {
  color: white;
}

section.container {
  max-width: 992px;
  margin: 0 auto 2rem;
  padding: 1rem;
  background-color: var(--bacground-color);
}

.navbar {
  max-width: 992px;
  margin: 0 auto;
  padding: 1rem;
}

/* .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
} */

.card {
  width: 100%;
}

.food-form {
  padding: 10px;
}

.recipe-body {
  display: flex;
  column-gap: 30px;
  align-items: baseline;
}
